body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eaeded;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131921;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  width: 40%;
}

.search-bar input {
  flex: 1;
  padding: 8px;
}

.search-bar button {
  background: #febd69;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.nav-right span {
  margin-left: 15px;
  cursor: pointer;
}

/* Categories */
.categories {
  background: #232f3e;
  color: white;
  padding: 8px 20px;
  display: flex;
  gap: 15px;
  font-size: 14px;
}

/* Hero */
.hero {
  background: linear-gradient(to right, #ff9900, #f3a847);
  text-align: center;
  padding: 40px;
  color: white;
}

/* Products */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card button {
  background: #ffd814;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .search-bar {
    width: 60%;
  }

  .categories {
    overflow-x: auto;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}
